    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      gap: 0.5em;
    }

    li {
      display: inline-block;
      position: relative;
    }

    li a {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      background: teal;
      color: white;
    }

    .menu {
      position: absolute;
      top: 100%;
      left: 0;
      visibility: hidden;
      display: table-column;
    }

    .menu li a {
      margin: 2px 0;
    }

    li:hover .menu {
      visibility: visible;
    }